<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head', {titulo}) %>
<body>
    <%- include('partials/header1')%>
    <main>
    <div class="capa-fondo">
      
        <img src="/design/images/icons/logo.png " alt="">
        <div class="flexpd" style="width: 55%;">
            <h1> <%= session.name %> </h1>
            <hr>
            <div class="avatar">
                <img src="design/images/avatars/<%= session.avatar %>" alt="">
            </div>   

          <h1>Datos personales</h1>
          <form id="form" action="" method="post"> 
           <ul>
              <li><div class="input-container">
                <input id="name" class="input-style" type="name" name="name" placeholder="Ingrese su Nombre" value="<%= locals.old && old.name %>"></div></li>
              <li><div class="input-container">
                <input id="lastName"class="input-style" type="surname" name="lastname" placeholder="Ingrese su Apellido" value="<%= locals.old && old.lastname %>"></div></li>
              <li><div class="input-container"> 
                <input id="email" class="input-style" type="email" name="email" > <%= session.email %> </div></li>
              <li><div class="input-container"> 
                <input id="#pass1" class="input-style" type="password" name="email" > <%= session.email %> </div></li>
              <li><div class="input-container"> 
                <input id="#pass2" class="input-style" type="password" name="email" > <%= session.email %> </div></li>    
              <li><div class="file-avatar">
              <label for="avatar">Cambiar avatar</label>
                <input class="input-avatar" type="file" name="avatarimage">
                <% if (locals.errors && errors.image) { %>
                    <small class="text-danger"><%= errors.avatarimage.msg %> </small>
                <% } %> 
               </div></li>
            </ul>
          </form>
    </div>
     
    </div>

</main>
 <%- include('partials/footer1') %>  
 <script src="../../js/profile.js"></script>
</body>

</html>