<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head', {titulo}) %>

    <body>
        <%- include('partials/header1')%>
            <main class="register-form">
                <div class="form-container">
                    <h1>Perfil de usuario</h1>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div style="width: 200px;" class="mx-auto">
                                <img src="/design/images/avatars/<%= session.avatar %>" alt="Avatar image">
                            </div>
                            <label for="changeImagen" class="btn btn-submit mt-3 pt-2 h3" style="margin-right: 10px;">Cambiar imagen</label>
                            <input type="file" hidden id="changeImagen">
                        </div>
                        <div class="col-12 col-md-6 col-lg-8">
                            <form action="/user/update/<%= user.id %>?_method=PUT" method="POST" class="form-ad">

                                <div class="mb-3">
                                    <input class="input-style" type="name" name="name" placeholder="Ingrese su Nombre"
                                        value="<%= user.name %>">
                                    <% if (typeof errors !="undefined" && errors.name) { %>
                                        <span class="text-danger">
                                            <%= errors.name.msg %>
                                        </span>
                                        <% } %>
                                </div>

                                <div class="mb-3">
                                    <input class="input-style" type="surname" name="lastname"
                                        placeholder="Ingrese su Apellido" value="<%= user.lastname %>">
                                    <% if (typeof errors !="undefined" && errors.lastname) { %>
                                        <span class="text-danger">
                                            <%= errors.lastname.msg %>
                                        </span>
                                        <% } %>
                                </div>

                                <div class="mb-3">
                                    <input class="input-style" type="email" name="email" value="<%= user.email %>" readonly>
                                    <% if (typeof errors !="undefined" && errors.email) { %>
                                        <span class="text-danger">
                                            <%= errors.email.msg %>
                                        </span>
                                        <% } %>
                                </div>

                                <div class="mb-3">
                                    <input class="input-style" type="text" name="phone" placeholder="Teléfono"
                                        value="<%= user.phone %>">
                                    <% if (typeof errors !="undefined" && errors.phone) { %>
                                        <span class="text-danger">
                                            <%= errors.phone.msg %>
                                        </span>
                                        <% } %>
                                </div>
                                <div class="mb-3">
                                    <input class="input-style" type="date" name="date" value="<%= user.date %>">
                                    <% if (typeof errors !="undefined" && errors.date) { %>
                                        <span class="text-danger">
                                            <%= errors.date.msg %>
                                        </span>
                                        <% } %>
                                </div>

                                <button type="submit" class="btn btn-submit" style="margin-right: 10px;">Guardar
                                    cambios</button>


                        </div>

                        </form>
                    </div>
                </div>


                </div>
            </main>
            <%- include('partials/footer1') %>

    </body>

</html>