<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head', {titulo}) %>

    <body>
   <%- include('partials/header1')%>
   <main class="user-profile">
     <div class="profile-container">
        <div class="profile-title">
         <h2>Perfil del usuario Perfil de <%= session.user.name %> <%= session.user.lastname %></h2>
         </div>
         <div class="container-img-name">
         <div class="user-avatar">
            <img src="design/images/avatars/<%= session.user.avatar %>" alt="Avatar image">
         </div>
         
         <div class="form-input-container">
          <div class="form-input">
            <input type="text" name="name" id="name" placeholder="Nombre" value="<%= user.name %>" readonly>
              <% if (locals.errors && errors.name) { %>
                <small><%- errors.name.msg %></small>
                  <% } %>
             <div class="user-edit">
               <input type="submit" value="Editar" onclick="document.getElementById('#name').removeAttribute(readonly)">
              </div>
           </div>
         </div>

         <div class="form-input-container">
          <div class="form-input">
             <input type="text" name="lastname" id="lastname" placeholder="Apellido" value="<%= user.lastname %>"readonly>
               <% if (locals.errors && errors.lastname) { %>
                <small><%- errors.lastname.msg %></small>
                    <% } %>
            </div>
            <div class="user-edit">
                <input type="submit" value="Editar" onclick="document.getElementById('#lastname').removeAttribute(readonly)">
               </div>
            </div>
            
            <div class="form-input-container">
             <div class="form-input">
               <input type="file" id="avatar" name="avatarimage" readonly>
                 <% if (locals.errors && errors.image) { %>
                  <small class="text-danger"><%= errors.avatar.msg %> </small>
                  <% } %>
            </div>
            <div class="user-edit">
                <input type="submit" value="Editar" onclick="document.getElementById('#avatar').removeAttribute(readonly)">
            </div>
            </div>

     
       <div class="user-email" >
        <div class="form-input">
            <input type="email" name="email" id="email" placeholder="E-mail" value="<%= user.email %>" readonly>
                <% if (locals.errors && errors.email) { %>
                  <small><%- errors.email.msg %></small>
                    <% } %>
        </div>
        <div class="user-edit">
            <input type="submit" value="Editar" onclick="document.getElementById('#email').removeAttribute(readonly)">
        </div>
        </div>
     </div>
    <div class="form-input-container">
    <div class="form-input">
    <input type="password" name="pass" id="pass" placeholder="Contraseña" value="<%= user.pass %>"readonly>
     <% if (locals.errors && errors.pass1) { %>
        <small class="text-danger" id="passErrors"><%- errors.pass.msg %></small>
     <% } %>
    </div>
   </div>
   <div class="user-edit">
    <input type="submit" value="Editar" onclick="document.getElementById('#pass1').removeAttribute(readonly)">
   </div>
  </div>
 
</main>
<%- include('../partials/footer1') %>
 
</body>
</html>